!!!
%html
  %head
    %title BS
    %link{:href => "http://fonts.googleapis.com/css?family=Molengo:regular", :rel => "stylesheet", :type => "text/css"}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :href => '/stylesheets/screen.css'}
  %body
    %h1= @bs
    #footer
      %p
        Thanks
        %a{:href => 'http://twitter.com/chadfowler/status/20496493212'} Chad!
